% my (%h) = @_;
<hr />

<%= Template::Mojo.new(slurp "templates/include/top_navigation.tmpl").render(%h); %>
<p>
% if %h<show_toc_button> {
  <a class="btn" href="toc">Table of Contents</a>
% }

% if %h<show_index_button> {
  <div class="pull-right">
  <a class="btn" href="/index">Index</a>
  </div>
% }
