% my (%h) = @_;
<%= Template::Mojo.new(slurp "templates/include/header.tmpl").render(%h); %>

<h1>Perl 6 Maven Archive</h1>

<ul>
% for %h<pages>.values -> $p {
  <li><a href="<%= $p<url> %>"><%= $p<title> %></a> <%= $p<date> %></li>
% }
</ul>

<%= Template::Mojo.new(slurp "templates/include/footer.tmpl").render(%h); %>
